# Постановка задачи

* Всего 3 набора данных: (1) building_metadata, (2) train и (3) weather_train
(1) содержит building_id, для которого есть данные (2)
(1) содержит site_id, для которого есть данные (3)

Нужно объединить все наборы данных по  building_id, site_id и timestamp

ETL = получение + очистка + совмещение данных

## Данные 

* /home/al/PycharmProjects/mashine_learn_Kagle/jupiter_bilder/building_metadata.csv
* /home/al/PycharmProjects/mashine_learn_Kagle/jupiter_bilder/weather_train.csv
* /home/al/PycharmProjects/mashine_learn_Kagle/jupiter_bilder/train.csv

## Подключение библиотек

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 16,8

### Загрузка данных: здания

* primary_use - назначение
* square_feet - площадь, кв.футы
* year_built - год постройки
* floor_count - число этажей

In [3]:
buildings = pd.read_csv("/home/al/PycharmProjects/mashine_learn_Kagle/jupiter_bilder/building_metadata.csv")
print(buildings.head())

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

## Загрузка данны: погода

* air_temprature - температура воздуха, С
* dew_temperature - точка рсы (влажность), С
* cloud_coverage - облачность, %
* precip_depth_1_hr - количество осадков, мм/час
* sea_level_pressure - давление, мбар
* wind_direction - направление ветра, градусы
* wind_speed - скорость ветра, м/с