In [1]:
import pandas as pd

In [2]:
name_f = '/home/al/Projects_My/examples_problem_solving_kaggl/competitons/AI_and_ML_Jobs/final_job_list.csv'
df = pd.read_csv(name_f, delimiter=',')
df.head()

,Title,Company,Location,Type of Positions,Job Description,Salary,Identified_Skills
0,"Staff Applied Scientist, Marketplace",ThredUp Inc.,CA,Full-time,\nAbout thredUP thredUP is transforming resale...,190000.0,"['python', 'machine learning', 'aws', 'sql']"
1,Prompt Engineer for Generative AI (chatbot and...,Vicarious Talent Agency,WA,Full-time,"We are Vicarious, a talent agency that represe...",70000.0,"['python', 'machine learning', 'deep learning'..."
2,Data Systems Analyst/Architect,General Dynamics Information Technology,Remote,Full-time,Clearance Level None Category Data Science Loc...,104000.0,"['machine learning', 'aws', 'azure', 'nosql', ..."
3,AIOps Principle Data Scientist,CVS Health,CT,Full-time,\nBring your heart to CVS Health. Every one of...,140000.0,"['python', 'machine learning', 'aws', 'gcp']"
4,Sr. Data Scientist,Altak Group,Remote,Full-time,Job Summary:\nWe are seeking an experienced Da...,136000.0,"['python', 'machine learning', 'tableau', 'aws..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              692 non-null    object
 1   Company            692 non-null    object
 2   Location           692 non-null    object
 3   Type of Positions  692 non-null    object
 4   Job Description    692 non-null    object
 5   Salary             692 non-null    float64
 6   Identified_Skills  692 non-null    object
dtypes: float64(1), object(6)
memory usage: 38.0+ KB

In [5]:
d_salary = df['Salary']
d_salary

0      190000.0
1       70000.0
2      104000.0
3      140000.0
4      136000.0
         ...
687    160000.0
688    160000.0
689    160000.0
690    160000.0
691    160000.0
Name: Salary, Length: 692, dtype: float64

In [6]:
d_salary.describe()

count       692.000000
mean     131428.635838
std       39712.952798
min        4145.000000
25%      101000.000000
50%      149532.000000
75%      160000.000000
max      268000.000000
Name: Salary, dtype: float64